@CHARSET "UTF-8";

.tab_page
{
display:none;
padding: 5px;
}

.tab_page:target
{
/*显示Tab的内容*/
display:block;
}

.div{ margin:100px auto; width:400px; height:280px; border:1px solid #0F0} 
.tab_content{width:100%;height:80%; text-align:center}
.tab_title{width:100%;height:19%;border:1px solid #F00;}
.tab_button{display:inline-block;width:24%;height:100%;}
.regester_table
{

}

