<?xml version="1.0"  encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.besblog.mapper.AccountMapper">


<!-- 注册使用 -->
<select id="getUidByNickname"  parameterType="String" resultType="String">
  select uid  from t_user where nickname=#{value}
</select> 

<select id="getUidByEmail"  parameterType="String" resultType="String">
  select uid  from t_user where email=lower(#{value})
</select> 

<insert id="insertUser" parameterType="com.besblog.pojo.User">
   INSERT INTO t_user (uid,email,nickname,password)
   	VALUES (#{uid},lower(#{email}), #{nickname}, password(#{password}))
</insert>

<insert id="insertActiveCode" parameterType="com.besblog.pojo.ActiveCode">
   INSERT INTO activecode  VALUES (#{code},lower(#{email}), #{invalidtime,jdbcType=TIMESTAMP})
</insert>

<select id="getCode"  parameterType="String" resultType="String">
  select password( #{value})  from dual
</select> 

<select id="getEmailByActiveCode"  parameterType="String" resultType="String">
  select email from activecode where code = #{value}
</select> 

<update id="updateUserActiveState" parameterType="Map">
     update t_user
          set active = #{activeState}
            where email = lower(#{email})
</update>

<delete id="deleteActiveCode" parameterType="String">
	delete from activecode
		where code = #{value}
</delete>

<!-- 登录使用 -->
<select id="getUidByEmailAndPassword" parameterType="Map" resultType="String">
     select uid  from t_user where email=lower(#{email}) and password=password(#{password})
</select>


<select id="getActiveStateByUid"  parameterType="String" resultType="int">
  select active  from t_user where uid=#{value}
</select> 


<!-- 修改密码使用 -->
<select id="getUidByUidAndPassword" parameterType="Map" resultType="String">
     select uid  from t_user where uid=#{uid} and password=password(#{password})
</select>
<update id="updatePasswordByUid" parameterType="Map">
     update t_user
          set password=password(#{password})
            where uid = #{uid}
</update>


<!-- 获得用户信息 -->
<select id="getUserInfoByUid"  parameterType="String" resultType="com.besblog.pojo.User">
  select *  from t_user where uid= #{uid}
</select> 

<!-- 修改用户的基本信信息-->
<update id="updateNicknameByUid" parameterType="Map">
     update t_user
          set nickname = #{nickname}
            where uid = #{uid}
</update>
<update id="updatePersoninfoByUid" parameterType="Map">
     update t_user
          set personinfo = #{personinfo}
            where uid = #{uid}
</update>
<update id="updateBloginfoByUid" parameterType="Map">
     update t_user
          set bloginfo = #{bloginfo}
            where uid = #{uid}
</update>

<update id="updatePhotoByUid" parameterType="Map">
     update t_user
          set photo = #{photo}
            where uid = #{uid}
</update>

	
</mapper>